.column {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5rem;
}

.table {
    border-collapse: collapse;

    th {
        padding: .3rem 1rem;
    }
}

.table th, .table td {
    border: solid 1px lightgray;
}

.active {
    background-color: lightsalmon;
}


.form td {
    padding: 5px;
}

.command-bar {
    text-align: right;
    background-color: #f4f4f4;
    padding: 10px 20px;
}
