@import "_variables.scss";

h1 {
    margin: $padding;
    font-size: 1.4rem;
}

.grid {
    &-pager {
        flex: 0 0 auto;
        padding: $padding;
        text-align: center;

        .dotvvm-bp-data-pager {
            display: inline-block;
        }
    }

    &-box {
        overflow: auto;
        flex: 1 1 auto;
        padding: $padding;
    }
}
.console {
    flex: 0 0 200px;
    background-color: lightyellow;
    height: 200px;
    font-family: Consolas, monospace;
    white-space: pre-wrap;
    padding: 15px;
    font-size: 120%;
    overflow: auto;
}

.dotvvm-bp-button {
    line-height: 1.4em;
}

.dotvvm-bp-button .dotvvm-bp-icon {
    width: 1.2em !important;
    height: 1.2em !important;
    vertical-align: middle;
}

.dotvvm-bp-button .dotvvm-bp-icon path {
    fill: white;
}
