body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif; }

main {
  flex: 1 1 auto;
  padding: 1rem; }

footer {
  flex: 0 0 auto;
  text-align: center;
  padding: 1rem;
  background-color: #e8e8e8; }
  footer > * {
    vertical-align: middle; }

.footer-logo {
  display: inline-block;
  width: 6rem;
  height: auto; }

.footer-text {
  display: inline-block;
  margin-left: 5rem; }
  .footer-text a {
    display: inline-block;
    text-decoration: none;
    color: #3176bb;
    font-weight: 500;
    margin: .5rem 2rem; }
  .footer-text img {
    vertical-align: middle;
    width: 2rem;
    margin-right: 0rem; }

main {
  position: relative; }
  main .img-pattern {
    position: absolute;
    bottom: 0;
    right: -110vh;
    height: 80vh;
    opacity: .2; }

.cargo {
  width: 80px;
  height: 80px;
  background-image: url("/cargo.png");
  font-size: 30px;
  text-align: left;
  text-indent: 20px;
  line-height: 70px;
  color: white; }

.cargo.moving {
  position: absolute;
  bottom: -15px; }

.cargo.delivered {
  display: inline-block; }

.canvas {
  align-self: flex-end;
  position: relative;
  width: 380px;
  height: 5rem;
  border-bottom: solid 8px gray; }

.cargo-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 50vh;
  margin-top: 2rem; }

.cargos {
  margin-left: 5rem;
  flex: 1 1 auto; }

